#ignores files in these folders as they are useless

**/Library
**/Packages
**/Temp
**/obj
**/.vs


*.sln
*.csproj
#to learn the patterns for gitignore
#https://www.atlassian.com/git/tutorials/saving-changes/gitignore#git-ignore-patterns