#ignores files in these folders as they are useless
Prototypes/Library
Prototypes/Packages
Prototypes/Temp
Prototypes/obj
Prototypes/.vs

Brutta/Library
Brutta/Packages
Brutta/Temp
Brutta/obj
Brutta/.vs

*.meta